# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Static build/cache
staticfiles/
media/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Migrations cache
**/__pycache__/

# Misc
.idea/
