[Unit]
Description=DIZIGNERI Django (Gunicorn)
After=network.target

[Service]
User=pavel
Group=www-data
WorkingDirectory=/home/pavel/apps/DIZIGNERI/sielom
EnvironmentFile=/home/pavel/apps/DIZIGNERI/sielom/.env
ExecStart=/home/pavel/apps/DIZIGNERI/sielom/.venv/bin/gunicorn config.wsgi:application --bind 127.0.0.1:8010 --workers 3 --timeout 120
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target